@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('../assets/font/iconfont.ttf?t=1648452671274') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e617";
}

.icon-job:before {
  content: "\e614";
}

.icon-approve:before {
  content: "\e616";
}

.icon-salary:before {
  content: "\e615";
}




