:root,
:root[theme-mode='light'] {
  // --td-text-color-primary: #191919;
  // --td-text-color-secondary:#696969;
}

#app {
  .t-button + .t-button {
    margin-left: 0px;
  }
  // 侧边栏
  .t-default-menu .t-menu__item.t-is-active:not(.t-is-opened) {
    background-color: @brand-color-1 !important;
    color: @brand-color;
    /deep/ .t-menu__content {
      margin-left: 8px;
    }
  }
  // 分页
  .t-pagination__number{
    border-radius: 50%;
  }
  // 输入
  .t-select__wrap{
    .t-input{
      height: 30px;
    }
  }
}
